html {
  box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

p {
  color: #fff;
}

.chatContainer {
  margin-top: 20px;
  position: relative;
  background-color: #009688;
  border: 1px solid black;
  width: 30%;
  min-width: 300px;
  min-height: 300px;
  padding: 1em;
}

.chatTitle {
  background-color: #004a43;
  color: white;
  margin: 0 0 5px 0;
  padding: 5px;
  border-radius: 4px;
  text-align: center
}

.chatTitleCenter {
  // width: 50%;
  // margin: 0 auto;
  display: inline-block;
}

.chatTitleMessage {
  margin-right: 10px;
  font-style: italic;
  font-size: .8em; 
}

.chatWindow {
  width: 100%;
  // min-height: 275px;
  height: 265px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #005950;
  border: 2px solid #008578;
  background-color: #b7fff8;
  overflow: scroll;
}

.chatLeftUsername {
  float: left;
  margin-right: .5em;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
  // text-decoration: underline;
  background-color: #000;
  color: #fff;
}

.chatRightUsername {
  float: right;
  margin-left: .5em;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
  // text-decoration: underline;
  background-color: #fff;
  color: #000;
}

.chatMessage {
  color: #009688;
  margin-bottom: 40px;
}

.chatBarMessage {
  border-radius: 4px;
  border: 2px solid #008578;
  margin: 5px 5px 0 0;
  padding-left: 5px;
  width: 85%;
  height: 30px;
}

.chatSend {
  font-size: 1.3em;
  margin: 0;
  padding: 0 4px 4px 4px;
  color: white;
  border-radius: 4px;
  // border: 2px solid #008578;
  background-color: #00776c;
  box-shadow: 3px 3px 3px #005950;
}

.chatSend:hover {
  background-color: #008578;
}

